.section-ppal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 100%;
}

.calculator-div{
    display: flex;
    width: 30%;
    height: 400px;
    background-color: rgb(48, 42, 42);
    justify-content: center;
    flex-flow: wrap;
}
.pantalla{
    display: flex;
    width: 80%;
    height: 100px;
    background-color: whitesmoke;
    margin-top: 15px;
    justify-content: flex-end;
    align-items: center;
}

.section-button{
    display: flex;
    margin-top: 15px;
    width: 85%;
    height: 250px;
    flex-flow: column;
}

.buttons-row{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 60px;
}

.button{
    display: flex;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.buttonClean{
    display: flex;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 27, 27);
}

.buttonResult{
    display: flex;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 105, 25);
}